<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Historia Operacji</title>
</head>
<body>
    <h1>Historia Operacji</h1>
    <ul>
        {% for entry in history %}
        <li>{{ entry }}</li>
        {% endfor %}
    </ul>

    <h3><a href="{{ url_for('index') }}">Wróć do strony głównej</a></h3>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>